<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/Shared/User/layout2">
<head>
    <meta charset="UTF-8"/>
    <title>Contact</title>
    <!-- Bootstrap -->
    <link href="/index/detail.css" rel="stylesheet"/>
    <style>
        .skill-score{
            background-color: #6f6f6f;
            color: snow;
            padding: 10px;
            margin-bottom: 10px;
            text-align: center;
        }

        .total-score{
            background-color: orange;
            color: snow;
            padding: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        .skill-score-title{
            padding: 10px;
            margin-bottom: 10px;
        }
        tab-content{
            margin-top: 10px;
        }
        .title{
            color: green;
        }
        .job{
            color: red;
        }

    </style>
</head>
<body>
<div  layout:fragment="content">
    <ul class="nav nav-pills"><br/>
        <li class="active"><a data-toggle="tab" href="#OffTeam">OFF Team</a><br/></li>
        <li><a  data-toggle="tab" href="#Thinh" th:text="#{Thinh}">Thinh</a></li>
        <li><a  data-toggle="tab" href="#Phuong" th:text="#{Phuong}">Phuong</a></li>
        <li><a data-toggle="tab" href="#Binh" th:text="#{Binh}">Binh</a></li>
        <li><a data-toggle="tab" href="#Kiet" th:text="#{Kiet}">Kiet</a></li>
        <li><a data-toggle="tab" href="#Tien" th:text="#{Tien}">Tien</a></li>
    </ul>

    <div class="tab-content">
        <div id="OffTeam" class="tab-pane fade in active tab-content">
            <h2 class="total-score">ONE FOR FIVE TEAM</h2>
            <br/>
            <div class="row">
                    <div class="col-sm-4 ">
                        <a data-toggle="tab" href="#Thinh">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="/images/thinh.jpg"/>
                            </div>
                            <div class="col-sm-7">
                                <div> <b th:text="#{ThinhName}">Tran Hung Thinh</b></div>
                                <div class="job"> Tester</div>
                                <div>ththinh11396@gmail.com</div>
                                <div> +84 165 323 0665</div>
                            </div>
                        </div>
                         </a>
                        <br/><br/><br/>
                        <a data-toggle="tab" href="#Binh">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="/images/binh.jpg"/>
                                </div>
                                <div class="col-sm-7">
                                    <div> <b th:text="#{BinhName}">Ho Thanh Binh</b></div>
                                    <div class="job">.NET Developer</div>
                                    <div>binhdesign816@gmail.com</div>
                                    <div> +84 937 179 469</div>
                                </div>
                            </div>
                        </a>
                    </div>


                <div class="col-sm-4">
                    <img src="/images/logo.png"/>
                </div>

                <div class="col-sm-4 ">
                    <a data-toggle="tab" href="#Tien">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="/images/tien.jpg"/>
                            </div>
                            <div class="col-sm-7">
                                <div> <b th:text="#{TienName}">Tran Viet Tien</b></div>
                                <div class="job"> .NET Developer</div>
                                <div>tranviettien1996@gmail.com</div>
                                <div>+84 163 214 9942</div>
                            </div>
                        </div>
                    </a>
                    <br/><br/><br/>
                    <a data-toggle="tab" href="#Kiet">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="/images/kiet.jpg"/>
                            </div>
                            <div class="col-sm-7">
                                <div> <b th:text="#{KietName}">Lam Anh Kiet</b></div>
                                <div class="job">Mobile Developer</div>
                                <div>dylanlam96@gmail.com</div>
                                <div> +84 126 516 3767</div>
                            </div>
                        </div>
                    </a>
                </div>
                <br/><br/>

        </div>
            <br/> <br/>
            <div class="row">
                <a data-toggle="tab" href="#Phuong">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="col-sm-5">
                            <img src="/images/phuong.jpg"/>
                        </div>
                        <div class="col-sm-7">
                            <div> <b th:text="#{PhuongName}">Nguyen Ho Phuong</b></div>
                            <div class="job"> Java Developer</div>
                            <div>phuongnh96@gmail.com</div>
                            <div> +84 902 444 505</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="Thinh" class="tab-pane fade tab-content">
            <div class="col-md-8">
                <div class="col-md-5">
                    <img src="/images/thinh.jpg"/>
                </div>
                <div class="col-md-7">
                    <h4 class="title">
                        <b th:text="#{HELLO}">HELLO</b>
                    </h4>
                    <div>
                        <h3><span th:text="#{Im}">I'm </span> <b th:text="#{ThinhName}">Trần Hưng Thịnh</b></h3>
                        <div class="job"> Tester and Designer</div>
                        <br/> <br/>
                    </div>
                    <div class="col-md-5 row">
                        <div><b th:text="#{AGE}">AGE</b></div><br/>
                        <div><b th:text="#{ADDRESS}">ADDRESS</b></div><br/><br/><br/>
                        <div><b th:text="#{E-MAIL}">E-MAIL</b></div><br/>
                        <div><b th:text="#{PHONE}">PHONE</b></div><br/>
                        <div><b th:text="#{FORTE}">FORTE</b></div><br/>
                    </div>
                    <div class="col-md-7">
                        <div>21</div><br/>
                        <div >27c đường 131, Tân Thạnh Đông, Củ Chi </div> <br/><br/>
                        <div><a href="https://goo.gl/X2ppou">ththinh11396@gmail.com</a></div><br/>
                        <div>+84 165 323 0665</div><br/>
                        <div>Testing on C#</div><br/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 ">
                    <div class="skill-score-title" th:text="#{DESIGN}">DESIGN</div>
                    <div class="skill-score-title" th:text="#{FUNCTIONALITY}">FUNCTIONALITY</div>
                    <div class="skill-score-title" th:text="#{DATABASE}">DATABASE</div>
                    <div class="skill-score-title" th:text="#{USABILITY}">USABILITY</div>
                    <div class="skill-score-title" th:text="#{SCORE}">SCORE</div>
                </div>
                <div class="col-md-5 ">
                    <div class="skill-score">7.8</div>
                    <div class="skill-score">7.4</div>
                    <div class="skill-score">7.2</div>
                    <div class="skill-score">8.2</div>
                    <div class="total-score">7.8</div>
                </div>
            </div>
            <div >
                <p th:text="#{ThinhInfo}"> I'm Tran Hung Thinh, studying at HCM  Education University.
                    My forte is Testing
                </p>
            </div>
        </div>
        <div id="Phuong" class="tab-pane fade tab-content">
            <div class="col-md-8">
                <div class="col-md-5">
                    <img src="/images/phuong.jpg"/>
                </div>
                <div class="col-md-7">
                    <h4 class="title">
                        <b th:text="#{HELLO}">HELLO</b>
                    </h4>
                    <div>
                        <h3><span th:text="#{Im}">I'm </span> <b th:text="#{PhuongName}">Nguyễn Hồ Phương</b></h3>
                        <div class="job"> Java Web Dev and Mobile Dev</div>
                        <br/> <br/>
                    </div>
                    <div class="col-md-5 row">
                        <div><b th:text="#{AGE}">AGE</b></div><br/>
                        <div><b th:text="#{ADDRESS}">ADDRESS</b></div><br/><br/><br/>
                        <div><b th:text="#{E-MAIL}">E-MAIL</b></div><br/>
                        <div><b th:text="#{PHONE}">PHONE</b></div><br/>
                        <div><b th:text="#{FORTE}">FORTE</b></div><br/>
                    </div>
                    <div class="col-md-7">
                        <div>21</div><br/>
                        <div >17/16 đường số 9 P. Hiệp Bình Chánh Q. Thủ Đức </div> <br/> <br/>
                        <div><a href="#">nhphuong96@gmail.com</a></div><br/>
                        <div>+84 902 444 505</div><br/>
                        <div>Java web</div><br/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 ">
                    <div class="skill-score-title" th:text="#{DESIGN}">DESIGN</div>
                    <div class="skill-score-title" th:text="#{FUNCTIONALITY}">FUNCTIONALITY</div>
                    <div class="skill-score-title" th:text="#{DATABASE}">DATABASE</div>
                    <div class="skill-score-title" th:text="#{USABILITY}">USABILITY</div>
                    <div class="skill-score-title" th:text="#{SCORE}">SCORE</div>
                </div>
                <div class="col-md-5 ">
                    <div class="skill-score">7.8</div>
                    <div class="skill-score">8.0</div>
                    <div class="skill-score">8.8</div>
                    <div class="skill-score">8.2</div>
                    <div class="total-score">8.2</div>
                </div>
            </div>
            <div >
                <p th:text="#{PhuongInfo}"> I'm Nguyen Ho Phuong, studying at HCM  Education University.
                    My forte is Java Web
                </p>
            </div>
        </div>
        <div id="Binh" class="tab-pane fade tab-content">
            <div class="col-md-8">
                <div class="col-md-5">
                    <img src="/images/binh.jpg" />
                </div>
                <div class="col-md-7">
                    <h4 class="title">
                        <b th:text="#{HELLO}">HELLO</b>
                    </h4>
                    <div>
                        <h3><span th:text="#{Im}">I'm </span> <b th:text="#{BinhName}">Hồ Thanh Bình</b></h3>
                        <div class="job"> .Net Web Dev and Javascript</div>
                        <br/> <br/>
                    </div>
                    <div class="col-md-5 row">
                        <div><b th:text="#{AGE}">AGE</b></div><br/>
                        <div><b th:text="#{ADDRESS}">ADDRESS</b></div><br/><br/><br/>
                        <div><b th:text="#{E-MAIL}">E-MAIL</b></div><br/>
                        <div><b th:text="#{PHONE}">PHONE</b></div><br/>
                        <div><b th:text="#{FORTE}">FORTE</b></div><br/>
                    </div>
                    <div class="col-md-7">
                        <div>22</div><br/>
                        <div >15/125 đường Gò Xoài,P. Bình Hưng Hòa A, Q.Bình Tân </div> <br/> <br/>
                        <div><a href="#">binhdesire816gmail.com</a></div><br/>
                        <div>+84 937 179 469</div><br/>
                        <div>C#, .NET, Javascript</div><br/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 ">
                    <div class="skill-score-title" th:text="#{DESIGN}">DESIGN</div>
                    <div class="skill-score-title" th:text="#{FUNCTIONALITY}">FUNCTIONALITY</div>
                    <div class="skill-score-title" th:text="#{DATABASE}">DATABASE</div>
                    <div class="skill-score-title" th:text="#{USABILITY}">USABILITY</div>
                    <div class="skill-score-title" th:text="#{SCORE}">SCORE</div>
                </div>
                <div class="col-md-5 ">
                    <div class="skill-score">7.4</div>
                    <div class="skill-score">8.6</div>
                    <div class="skill-score">8.4</div>
                    <div class="skill-score">8.0</div>
                    <div class="total-score">8.1</div>
                </div>
            </div>
            <div >
                <p th:text="#{BinhInfo}"> I'm Ho Thanh Binh, studying at HCM  Education University.
                    My forte is .NET Web
                </p>
            </div>
        </div>
        <div id="Kiet" class="tab-pane fade tab-content">
            <div class="col-md-8">
                <div class="col-md-5">
                    <img src="/images/kiet.jpg" />
                </div>
                <div class="col-md-7">
                    <h4 class="title">
                        <b th:text="#{HELLO}">HELLO</b>
                    </h4>
                    <div>
                        <h3><span th:text="#{Im}">I'm </span> <b th:text="#{KietName}">Lâm Anh Kiệt</b></h3>
                        <div class="job"> Mobile Dev</div>
                        <br/> <br/>
                    </div>
                    <div class="col-md-5 row">
                        <div><b th:text="#{AGE}">AGE</b></div><br/>
                        <div><b th:text="#{ADDRESS}">ADDRESS</b></div><br/><br/><br/>
                        <div><b th:text="#{E-MAIL}">E-MAIL</b></div><br/>
                        <div><b th:text="#{PHONE}">PHONE</b></div><br/>
                        <div><b th:text="#{FORTE}">FORTE</b></div><br/>
                    </div>
                    <div class="col-md-7">
                        <div>21</div><br/>
                        <div >42/12 đường Lạc Long Quân,P.10, Q.11 </div> <br/><br/>
                        <div><a href="#">dylanlam96@gmail.com</a></div><br/>
                        <div>+84 126 516 3767</div><br/>
                        <div>Java, Mobile</div><br/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 ">
                    <div class="skill-score-title" th:text="#{DESIGN}">DESIGN</div>
                    <div class="skill-score-title" th:text="#{FUNCTIONALITY}">FUNCTIONALITY</div>
                    <div class="skill-score-title" th:text="#{DATABASE}">DATABASE</div>
                    <div class="skill-score-title" th:text="#{USABILITY}">USABILITY</div>
                    <div class="skill-score-title" th:text="#{SCORE}">SCORE</div>
                </div>
                <div class="col-md-5 ">
                    <div class="skill-score">7.4</div>
                    <div class="skill-score">7.8</div>
                    <div class="skill-score">7.9</div>
                    <div class="skill-score">8.1</div>
                    <div class="total-score">7.8</div>
                </div>
            </div>
            <div >
                <p th:text="#{KietInfo}"> I'm Lam Anh Kiet, studying at HCM Education University.
                    My forte is Mobile
                </p>
            </div>
        </div>
        <div id="Tien" class="tab-pane fade tab-content">
            <div class="col-md-8">
                <div class="col-md-5">
                    <img src="/images/tien.jpg" />
                </div>
                <div class="col-md-7">
                    <h4 class="title">
                        <b th:text="#{HELLO}">HELLO</b>
                    </h4>
                    <div>
                        <h3><span th:text="#{Im}">I'm </span> <b th:text="#{TienName}">Trần Việt Tiến</b></h3>
                        <div class="job"> .NET Dev</div>
                        <br/> <br/>
                    </div>
                    <div class="col-md-5 row">
                        <div><b th:text="#{AGE}">AGE</b></div><br/>
                        <div><b th:text="#{ADDRESS}">ADDRESS</b></div><br/><br/><br/>
                        <div><b th:text="#{E-MAIL}">E-MAIL</b></div><br/>
                        <div><b th:text="#{PHONE}">PHONE</b></div><br/>
                        <div><b th:text="#{FORTE}">FORTE</b></div><br/>
                    </div>
                    <div class="col-md-7">
                        <div>21</div><br/>
                        <div >575/15B đường CMT8,P.15, Q.10 </div> <br/><br/>
                        <div><a href="#">tranviettien1996@gmail.com</a></div><br/>
                        <div>+84 163 214 9942</div><br/>
                        <div>.NET</div><br/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 ">
                    <div class="skill-score-title" th:text="#{DESIGN}">DESIGN</div>
                    <div class="skill-score-title" th:text="#{FUNCTIONALITY}">FUNCTIONALITY</div>
                    <div class="skill-score-title" th:text="#{DATABASE}">DATABASE</div>
                    <div class="skill-score-title" th:text="#{USABILITY}">USABILITY</div>
                    <div class="skill-score-title" th:text="#{SCORE}">SCORE</div>
                </div>
                <div class="col-md-5 ">
                    <div class="skill-score">7.5</div>
                    <div class="skill-score">7.9</div>
                    <div class="skill-score">8.0</div>
                    <div class="skill-score">8.2</div>
                    <div class="total-score">7.9</div>
                </div>
            </div>
            <div >
                <p th:text="#{TienInfo}"> I'm Tran Viet Tien, studying at HCM Education University.
                    My forte is .Net Web
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
