<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/Shared/User/layout">
<head>
    <meta charset="utf-8"/>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Home Page | OFF Library</title>

</head>
<body>
        <div class="container page-content" layout:fragment="content">
            <section class="content slider-products" >
                <!-- Products list -->
                <div class="row">

                    <div class="products-list-isotope">
                        <div class="product-preview category1" th:each="book : ${books}">
                            <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img th:src="@{/images/showBookImage?bookId=} + ${book.id}" width="200" height="250" alt=""/></a>
                                <ul class="product-controls-list right hide-right">
                                    <li class="top-out"></li>
                                    <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                    <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                </ul>
                                <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> Quick View </a>
                                <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                            </div>
                            <h3 class="title" th:text="${book.name}">Doremon</h3>
                            <span class="price"><a href="#"></a></span>
                        </div>

                    </div>
                </div>
                <!-- //end Products list -->
            </section>
            <div style="text-align: center" th:fragment='paginationbar'>
                <div>
                    <ul class='pagination pagination-centered'>
                        <li th:class="${page.firstPage}?'disabled':''">
                            <span th:if='${page.firstPage}'>← First</span>
                            <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>← First</a>
                        </li>
                        <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span th:if='${not page.hasPreviousPage}'>«</span>
                            <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>«</a>
                        </li>
                        <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                            <span th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                        </li>
                        <li th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span th:if='${not page.hasNextPage}'>»</span>
                            <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>»</a>
                        </li>
                        <li th:class="${page.lastPage}? 'disabled' : ''">
                            <span th:if='${page.lastPage}'>Last →</span>
                            <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</body>
</html>