<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/Shared/Admin/emptylayout">

<script layout:fragment="scripts"></script>
<div th:remove="tag" layout:fragment="styles"></div>

<div layout:fragment="content">
    <!-- BEGIN Navbar -->
    <div id="navbar" class="navbar">
        <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
            <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="/">
            <small>
                <i style="font-size:1.5em" class="fa fa-rocket"></i>
                LiMS
            </small>
        </a>
        <ul class="nav flaty-nav navbar-collapse collapse">
            <li class="user-profile pull-right">
                <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                    <img class="nav-user-photo" src="/flaty/img/demo/avatar/avatar2.jpg" alt="Penny's Photo"/>
                    <span th:text="${#authentication.getName()}" class="hhh" id="user_info">

                    </span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <!-- BEGIN User Dropdown -->
                <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                    <li class="nav-header">
                        <i class="fa fa-clock-o"></i>Signed at <span th:text="${#dates.format(#dates.createNow(), 'HH:mm dd/MM')}"></span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cog"></i> Tùy chỉnh
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user"></i> Thông tin cá nhân
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-question"></i> Trợ giúp
                        </a>
                    </li>
                    <li class="divider visible-xs"></li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-tasks"></i> Tasks
                            <span class="badge badge-warning">4</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-bell"></i> Notifications
                            <span class="badge badge-important">8</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-envelope"></i> Messages
                            <span class="badge badge-success">5</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/logout">
                            <i class="fa fa-off"></i> Đăng xuất
                        </a>
                    </li>
                </ul>
                <!-- BEGIN User Dropdown -->
            </li>

        </ul>
    </div>
    <!-- END Navbar -->
    <!-- BEGIN Container -->
    <div class="container" id="main-container">
        <!-- BEGIN Sidebar -->
        <div id="sidebar" class="navbar-collapse collapse">
            <!-- BEGIN Navlist -->
            <ul class="nav nav-list">
                <!-- BEGIN Search Form -->
                <li>
                    <form target="#" method="GET" class="search-form">
                        <span class="search-pan">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input type="text" name="search" placeholder="Search ..." autocomplete="off"/>
                        </span>
                    </form>
                </li>
                <!-- END Search Form -->



                <!-- BEGIN Book Borrow Mgt -->
                <li th:class="${#strings.equals(viewName,'ListOverdueBookBorrow') || #strings.equals(viewName,'HandlePendingBookBorrow') || #strings.equals(viewName,'ListBookBorrow') || #strings.equals(viewName,'InsertBookBorrow')} ? active : ''">
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-shopping-cart"></i>&nbsp;<span>Book Borrow Mgt</span><b
                            class="arrow fa fa-angle-right"></b></a>
                    <ul class="submenu">
                        <li th:class="${#strings.equals(viewName,'ListBookBorrow')} ? active : ''">
                            <a href="/Admin/BookBorrow/ListBookBorrow">
                                <i class="fa fa-dashboard"></i>&nbsp;<span>Book Borrow</span>
                            </a>
                        </li>
                        <li th:class="${#strings.equals(viewName,'ListOverdueBookBorrow')} ? active : ''">
                            <a href="/Admin/BookBorrow/ListOverdueBookBorrow">
                                <i class="fa fa-dashboard"></i>&nbsp;<span>Overdue Book Borrow</span>
                            </a>
                        </li>
                        <li th:class="${#strings.equals(viewName,'InsertBookBorrow')} ? active : ''">
                            <a href="/Admin/BookBorrow/InsertBookBorrow">
                                <i class="fa fa-dashboard"></i>&nbsp;<span>Create Book Borrow</span>
                            </a>
                        </li>
                        <li th:class="${#strings.equals(viewName,'HandlePendingBookBorrow')} ? active : ''">
                            <a href="/Admin/BookBorrow/HandlePendingBookBorrow">
                                <i class="fa fa-dashboard"></i>&nbsp;<span>Handle Pending Book Borrow</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <!-- END Book Borrow Mgt -->

                <!-- BEGIN Book Payable Mgt -->
                <li th:class="${#strings.equals(viewName,'ListBookPayable') || #strings.equals(viewName,'InsertBookPayable')} ? active : ''">
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-shopping-cart"></i>&nbsp;<span>Book Payable Mgt</span><b
                            class="arrow fa fa-angle-right"></b></a>
                    <ul class="submenu">
                        <li th:class="${#strings.equals(viewName,'ListBookPayable')} ? active : ''">
                            <a href="/Admin/BookPayable/ListBookPayable">
                                <i class="fa fa-dashboard"></i>&nbsp;<span>Book Payable</span>
                            </a>
                        </li>
                        <li th:class="${#strings.equals(viewName,'InsertBookPayable')} ? active : ''">
                            <a href="/Admin/BookPayable/InsertBookPayable">
                                <i class="fa fa-dashboard"></i>&nbsp;<span>Create Book Payable</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <!-- END Book Payable Mgt -->

                <li th:class="${#strings.equals(viewName,'ListRequest')} ? active : ''">
                    <a href="/Admin/Request/ListRequest">
                        <i class="fa-shopping-bag"></i>
                        <span>Request</span>
                    </a>
                </li>

                <!-- BEGIN Book Mgt -->
                <li th:class="${#strings.equals(viewName,'ListBook') || #strings.equals(viewName,'ListBookCategory') || #strings.equals(viewName,'ListBookStatus')} ? active : ''">
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-shopping-cart"></i>&nbsp;<span>Book Management</span><b
                            class="arrow fa fa-angle-right"></b></a>
                    <ul class="submenu">
                        <li th:class="${#strings.equals(viewName,'ListBook')} ? active : ''">
                            <a href="/Admin/Book/ListBook">
                                <i class="fa fa-dashboard"></i>&nbsp;<span>Book</span>
                            </a>
                        </li>
                        <li th:class="${#strings.equals(viewName,'ListBookCategory')} ? active : ''">
                            <a href="/Admin/BookCategory/ListBookCategory">
                                <i class="fa fa-dashboard"></i>&nbsp;<span>Book Category</span>
                            </a>
                        </li>
                        <li th:class="${#strings.equals(viewName,'ListBookStatus')} ? active : ''">
                            <a href="/Admin/BookStatus/ListBookStatus">
                                <i class="fa fa-dashboard"></i>&nbsp;<span>Book Status</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END Book Mgt -->

                <li th:class="${#strings.equals(viewName,'ListUser')} ? active : ''">
                    <a href="/Admin/User/ListUser">
                        <i class="fa-shopping-bag"></i>
                        <span>List User</span>
                    </a>
                </li>

                <!-- END Navlist -->
                <!-- BEGIN Sidebar Collapse Button -->
                <div id="sidebar-collapse" class="visible-lg">
                    <i class="fa fa-angle-double-left"></i>
                </div>
            </ul>
            <!-- END Sidebar Collapse Button -->
        </div>
        <!-- END Sidebar -->
        <!-- BEGIN Content -->
        <div layout:fragment="contentBody" id="main-content" class="full-width">
            <!-- BEGIN Main Content -->
            <!-- END Main Content -->
            <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
        </div>
        <!-- END Content -->
    </div>
    <!-- END Container -->
</div>

</html>