<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title>Conquer</title>

    <!--
    Conquer Template
    http://www.templatemo.com/tm-476-conquer
    -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'/>
    <link rel="icon" href="/images/logo.png"/>
    <link rel="stylesheet" href="/css/layout/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/layout/style.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="position: relative; !important; margin-bottom: 0 !important;">
    <div class="container">

        <div class="single-page-nav sticky-wrapper" id="tmNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/" class="external" th:text="#{Homepage}"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" th:text="#{Service}"></a>
                    <ul class="dropdown-menu" role="menu" style="border-radius: 5px">
                        <li><a style="line-height: 40px;" href="#" class="external" th:text="#{forStudent}"></a></li>
                        <li><a style="line-height: 40px;" href="#" class="external" th:text="#{forLecturer}"></a></li>
                        <li><a style="line-height: 40px;" href="#" class="external" th:text="#{forResearcher}"></a></li>
                        <li><a style="line-height: 40px;" href="#" class="external" th:text="#{forCommunity}"></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" th:text="#{Borrow}"></a>
                    <ul class="dropdown-menu" role="menu" style="border-radius: 5px">
                        <li><a style="line-height: 40px;" href="/Borrow/HowToBorrow" class="external" th:text="#{HowtoBorrow}"></a></li>
                        <li><a style="line-height: 40px;" href="/Borrow/OverdueBook" class="external" th:text="#{OverdueItems}"></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" th:text="#{Request}"></a>
                    <ul class="dropdown-menu" role="menu" style="border-radius: 5px">
                        <li><a style="line-height: 40px;" href="/Request/HowToRequest" class="external" th:text="#{HowtoRequest}"></a></li>
                        <li><a style="line-height: 40px;" href="/User/Request/RequestPurchase" class="external" th:text="#{Requestapurchase}"></a></li>
                        <li><a style="line-height: 40px;" href="" class="external" th:text="#{Requestdocumentdelivery}" ></a></li>
                    </ul>
                </li>
                <li><a  class="external" href="/Contact" th:text="#{Contact}"></a></li>
                <li class="dropdown" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" th:text="#{Account}"></a>
                    <ul class="dropdown-menu" role="menu" style="border-radius: 5px">
                        <li><a><b th:text="${#authentication.getName()}">user</b></a></li>
                        <li class="divider"></li>
                        <li><a style="line-height: 40px;" href="/User/ViewLog"  class="external" th:text="#{ViewLog}"></a></li>
                        <li><a style="line-height: 40px;" href="/User/UpdateInfoUser"  class="external" th:text="#{SettingProfile}"></a></li>
                        <li><a style="line-height: 40px;" href="/User/UpdatePassword" class="external" th:text="#{Changepassword}"></a></li>
                        <li class="divider"></li>
                        <li><a style="line-height: 40px;" href="/logout"  class="external" th:text="#{Logout}"></a></li>
                    </ul>
                </li>
                <li><a  class="external" th:href="${#authorization.expression('isAuthenticated()') ? '/':'/login'}" style="background-color: #0A96DE;" th:text="#{login}"></a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="section4" >
    <!-- Start Contact Area -->
    <section id="contact-area" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center inner">
                    <div class="contact-content" align="center">
                        <h1 th:text="#{library}"></h1>
                        <div class="row">
                            <div class="col-lg-12">
                                <p th:text="#{learning}"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Contact Area -->
</div>
<section>
    <div class="container" layout:fragment="content"></div>
</section>
<br/>
<!-- Start Footer Area -->
<footer id="footer-area" style="background-color: #000">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <div class="footer-content">
                    <h1>Use it free!</h1>
                    <p>“Conquer is free Bootstrap template from templatemo website.
                        <br/>No backlink is required to use this layout.”</p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="copy">Copyright © 2017 HCMUE - K40 - ONE FOR FIVE

                    | Design: <a rel="nofollow" href="http://www.templatemo.com" target="_parent">template mo</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<script src="/js/layout/jquery-1.11.2.min.js"></script>
<script src="/js/layout/jquery.scrollUp.min.js"></script> <!-- https://github.com/markgoodyear/scrollup -->
<script src="/js/layout/jquery.singlePageNav.min.js"></script> <!-- https://github.com/ChrisWojcik/single-page-nav -->
<script src="/js/layout/parallax.js-1.3.1/parallax.js"></script> <!-- http://pixelcog.github.io/parallax.js/ -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.updatePassword.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script>

    // HTML document is loaded. DOM is ready.
    $(function() {

        // Parallax
        $('.intro-section').parallax({
            imageSrc: '/images/bg-1.jpg',
            speed: 0.2
        });
        $('.services-section').parallax({
            imageSrc: '/images/bg-2.jpg',
            speed: 0.2
        });
        $('.contact-section').parallax({
            imageSrc: '/images/bg-3.jpg',
            speed: 0.2
        });

        // jQuery Scroll Up / Back To Top Image
        $.scrollUp({
            scrollName: 'scrollUp',      // Element ID
            scrollDistance: 300,         // Distance from top/bottom before showing element (px)
            scrollFrom: 'top',           // 'top' or 'bottom'
            scrollSpeed: 1000,            // Speed back to top (ms)
            easingType: 'linear',        // Scroll to top easing (see http://easings.net/)
            animation: 'fade',           // Fade, slide, none
            animationSpeed: 300,         // Animation speed (ms)
            scrollText: '', // Text for element, can contain HTML
            scrollImg: true            // Set true to use image
        });

        // ScrollUp Placement
        $( window ).on( 'scroll', function() {

            // If the height of the document less the height of the document is the same as the
            // distance the window has scrolled from the top...
            if ( $( document ).height() - $( window ).height() === $( window ).scrollTop() ) {

                // Adjust the scrollUp image so that it's a few pixels above the footer
                $('#scrollUp').css( 'bottom', '80px' );

            } else {
                // Otherwise, leave set it to its default value.
                $('#scrollUp').css( 'bottom', '30px' );
            }
        });

        $('.single-page-nav').singlePageNav({
            offset: $('.single-page-nav').outerHeight(),
            speed: 1500,
            filter: ':not(.external)',
            updateHash: true
        });

        $('.navbar-toggle').click(function(){
            $('.single-page-nav').toggleClass('show');
        });

        $('.single-page-nav a').click(function(){
            $('.single-page-nav').removeClass('show');
        });

    });
</script>
</body>
</html>