<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/Shared/User/layout">
<head>
    <meta charset="UTF-8"/>
    <title>How to borrow</title>
    <!-- Bootstrap -->
    <link href="/index/detail.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <style>
       label {
           color: #0055aa;
       }
    </style>
</head>
<body>
<div  layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <ol class="arrows">
                <li><a href="/" th:text="#{Homepage}"></a></li>
                <li><a th:href="@{/Borrow/HowToBorrow}" th:text="#{HowtoBorrow}"></a></li>
            </ol>
        </div>
    </div>
    <hr style="margin-top: 0 !important; margin-bottom: 0 !important;"/>
    <div class="row">
        <h2><b> How to borrow </b> </h2>
        <br/><br/>
        <h3><b> Borrowing book </b> </h3>
        <div class="alert alert-danger">
            <p>
                By borrowing from the Library you agree to comply with our borrowing rules.
            </p>
        </div>
        <div class="howtoborrow">
            <label for="step1" >Step 1</label>
            <p id="step1"> At first you need contacts with librarian to register a account.
                You can register at 222 Lê Văn Sỹ Q.3 TPHCM </p>
            <div>Phone : 0123 456 789 - Mrs Cô</div>
            <br/><br/>

            <label for="step2" >Step 2</label>
            <p id="step2">When you not have an account, you still can see the
                <a href="http://localhost:8080/"> list book</a> are having in library.<br/>
                You can click on the book to see the detail. But only when you login,
                you can be reserve books.
            </p>
            <br/>

            <label for="step3" >Step 3</label>
            <p  id="step3">You can click Borrow button and fill your infomation to reserve that book.
                You will be received a code on email.
             </p>
            <br/>

            <label for="step4" >Step 4</label>
            <p  id="step4">You need take the code for the librarian and go to storage to get that book.
                And take it to librarian to complete the book borrow process </p><br/>
            <br/>
        </div>
        <h3><b> Recalled loans </b> </h3>
        <label for="recallloan" >Standard loans are subject to recall if required by another client:</label>
        <ul id="recallloan">
            <li>You are guaranteed a loan of at least 7 days on standard items</li>
            <li>External and remote students are guaranteed a loan of at least 14 days</li>
            <li>We will request the return of the item by email</li>
            <li>Return the item by the new due date to avoid <a href="http://localhost:8080/User/OverdueBook">overdue loans</a></li>
        </ul>

        <br/><br/>
    </div>
</div>

</body>
</html>
