<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/Shared/User/layout2">
<head>
    <meta charset="UTF-8"/>
    <title>How to borrow</title>
    <!-- Bootstrap -->
    <link href="/index/detail.css" rel="stylesheet"/>

    <style>
        label {
            color: #0055aa;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/" th:text="#{Homepage}"></a>
            </li>
            <li>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
                <i class="fa fa-pencil"></i>
                <a th:href="@{/Borrow/HowToBorrow}" th:text="#{HowtoBorrow}"></a>
            </li>

        </ul>
    </div>
    <div style="overflow: hidden">
        <div align="center">
            <div style="width: 80%;">
                <div class="box box-black">
                    <div class="box-title">
                        <h3><i class="fa fa-user"></i><span> <span th:text="#{Method}">Method</span> 1 - <span th:text="#{Offline}">Offline</span></span></h3>
                    </div>
                    <div class="box-content">
                        <div class="howtoborrow">
                            <h3><label for="step1" th:text="#{Step1}">Step 1</label></h3>
                            <p th:text="#{BorrowOfflineStep1content}">Go straigh to our library, located at 280 An Duong Vuong, District 5, HCM City</p>
                            <div align="center">
                                <img src="/images/borrow1tut1.jpg"/>
                            </div>
                            <br/>

                            <h3><label for="step2" th:text="#{Step2}">Step 2</label></h3>
                            <p >
                                <span th:text="#{BorrowOfflineStep2content}">At the librarian desk. Register account for using library service.</span>
                            <div align="center">
                                <img src="/images/borrow1tut2.jpg" width="50%"/>
                            </div>
                            </p>
                            <br/>


                            <h3><label for="step3" th:text="#{Step3}">Step 3</label></h3>
                            <p >
                                <span th:text="#{BorrowOfflineStep3content}">After finished registration, go inside the library and find you book you want to borrow.</span>
                            <div align="center">
                                <img src="/images/borrow1tut3.jpg" width="50%"/>
                            </div>
                            </p>
                            <br/>

                            <h3><label for="step4" th:text="#{Step4}">Step 4</label></h3>
                            <p th:text="#{BorrowOfflineStep4content}">Return to librarian desk to make borrowing book procedure</p>
                            <br/>

                            <h3><label for="step5">Step 5</label></h3>
                            <p >
                                <span th:text="#{BorrowOfflineStep5content_1}">You can check your borrowing</span> <a href="/User/ViewLog" th:text="#{status}">status</a> <span th:text="#{BorrowOfflineStep5content_2}">on the library website.</span>
                            <div align="center">
                                <img src="/images/borrow1tut4.png" width="80%"/>
                            </div>
                            </p>


                            <br/>
                        </div>


                    </div>
                </div>
            </div>
            <div style="width: 80%;">
                <div class="box box-black">
                    <div class="box-title">
                        <h3><i class="fa fa-desktop"></i><span th:text="#{Method}">Method</span> 2 - <span th:text="#{Online}">Online</span></h3>
                    </div>
                    <div class="box-content">
                        <h3><label th:text="#{Step1}">Step 1</label></h3>
                        <p th:text="#{BorrowOnlineStep1content}">Go to OFF Library website</p>
                        <div align="center">
                            <img src="/images/borrow2tut1.png" width="80%"/>
                        </div>
                        <br/>

                        <h3><label th:text="#{Step2}">Step 2</label></h3>
                        <p th:text="#{BorrowOnlineStep2content}">Search the book you may want to borrow</p>
                        <div align="center">
                            <img src="/images/borrow2tut2.png" width="80%"/>
                        </div>
                        <br/>

                        <h3><label th:text="#{Step3}">Step 3</label></h3>
                        <p>
                            <span th:text="#{BorrowOnlineStep3content_1}">If your book is Available, the book will be able borrowed. If it was borrowed, you can make a
                                reservation. </span><a href="/Reservation/HowToReserve" th:text="#{Clickhere}">Click here</a> <span th:text="#{BorrowOnlineStep3content_2}">to know how to reserve book</span>
                        </p>
                        <p th:text="#{BorrowOnlineStep3content_3}">The result will display all the book have the keyword you enterred. Click Detail.</p>
                        <div align="center">
                            <img src="/images/borrow2tut3.png"/>
                        </div>
                        <br/>


                        <h3><label th:text="#{Step4}">Step 4</label></h3>
                        <p><span th:text="#{BorrowOnlineStep4content}">
                            If book is available. The Borrow Now will be display. In the other hand, Reserve Now button
                            will
                            be display. Click Borrow Now in case.</span>
                        <div align="center">
                            <img src="/images/borrow2tut4.png"/>
                        </div>
                        </p>

                        <br/>


                        <h3><label th:text="#{Step5}">Step 5</label></h3>
                        <p> <span th:text="#{BorrowOnlineStep5content}">
                            You will be redirect to book cart. If you want to continue borrow, click Keep Borrowing.
                            If not, click Borrow to sent borrowing request.</span>
                        <div align="center">
                            <img src="/images/borrow2tut5.png" width="80%"/>
                        </div>
                        </p>
                        <br/>

                        <h3><label th:text="#{Step6}">Step 6</label></h3>
                        <p> <span th:text="#{BorrowOnlineStep6content_1}">
                            When borrowing request have been sent. Another people cannot borrow this book right now. You
                            have to go to OFF Library to take that book in</span> <b th:text="#{1DAY}">1 DAY</b>.
                            <span th:text="#{BorrowOnlineStep6content_2}">If not, your request will be automatically cancelled. And others allows borrow that book.</span>
                        <div align="center">
                            <img src="/images/borrow2tut6.png" width="80%"/>
                        </div>
                        </p>
                        <br/>

                    </div>
                </div>
            </div>
            <div style="width: 80%;" align="left">
                <div class="box box-green">
                    <div class="box-title">
                        <h3><i class="fa fa-credit-card"></i><span th:text="#{Recalledloans}"></span></h3>
                    </div>
                    <div class="box-content">
                        <label for="recallloan" th:text="#{RecalledloansTitle}">Standard loans are subject to recall if
                            required by another client:</label>
                        <ul id="recallloan">
                            <li th:text="#{recallloan1}">You are guaranteed a loan of at least 7 days on standard book
                            </li>
                            <li th:text="#{recallloan2}">Teacher are guaranteed a loan of at least 14 days</li>
                            <li th:text="#{recallloan3}">We will request the return of the book by email</li>
                            <li><span th:text="#{recallloan4}">Return the item by the new due date to avoid </span><a
                                    href="http://localhost:8080/Borrow/OverdueBook" th:text="' '+#{overdueloans}">overdue
                                loans</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
