<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/Shared/User/layout">
<head>
    <meta charset="UTF-8"/>
    <title>How to borrow</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <style>
       label {
           color: #0055aa;
       }
    </style>
</head>
<body>
<div  layout:fragment="content" style="margin: 0 auto; width: 600px;">
    <div class="row">
        <h1><b th:text="#{Howtoborrow}"> How to borrow </b> </h1>
        <br/><br/>
        <h3><b th:text="#{Borrowingbook}"> Borrowing book </b> </h3>
        <div class="alert alert-danger">
            <p th:text="#{BorrowingbookContent}">
                By borrowing from the Library you agree to comply with our borrowing rules.
            </p>
        </div>
        <div class="howtoborrow">
            <label for="step1" th:text="#{Step1}" >Step 1</label>
            <p id="step1" th:text="#{BorrowStep1Content}"> At first you need contacts with librarian to register a account.
                You can register at 222 Le Van Sy Dist.3 Ho Chi Minh city </p>
            <div th:text="#{BorrowStep1Content2}">Phone : 0123 456 789 - Mrs Cô</div>
            <br/>

            <label for="step2" th:text="#{Step2}">Step 2</label>
            <br/>
            <span id="step2" th:text="#{BorrowStep2Content}">When you not have an account, you still can see the</span>
                <a href="http://localhost:8080/" th:text="#{BorrowStep2Content2}" >list book </a>
                <span th:text="#{BorrowStep2Content3}">are having in library. </span>
                <p th:text="#{BorrowStep2Content4}">
                You can click on the book to see the detail. But only when you login,
                you can be reserve books.
                </p>

            <br/>


            <label for="step3" th:text="#{Step3}">Step 3</label>
            <p  id="step3" th:text="#{BorrowStep3Content}">You can click Borrow button and fill your infomation to reserve that book.
                You will be received a code on email.
             </p>
            <br/>

            <label for="step4" th:text="#{Step4}">Step 4</label>
            <p  id="step4" th:text="#{BorrowStep4Content}">You need take the code for the librarian and go to storage to get that book.
                And take it to librarian to complete the book borrow process </p><br/>
            <br/>
        </div>
        <h3><b> Recalled loans </b> </h3>
        <label for="recallloan" >Standard loans are subject to recall if required by another client:</label>
        <ul id="recallloan">
            <li>You are guaranteed a loan of at least 7 days on standard items</li>
            <li>External and remote students are guaranteed a loan of at least 14 days</li>
            <li>We will request the return of the item by email</li>
            <li>Return the item by the new due date to avoid <a href="http://localhost:8080/User/OverdueBook">overdue loans</a></li>
        </ul>

        <br/><br/>
    </div>
</div>

</body>
</html>
