<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/Shared/User/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Update Password</title>
    <!-- Bootstrap -->
    <link href="/index/detail.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>


</head>
<body>
<div  layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <ol class="arrows">
                <li><a href="/" th:text="#{Homepage}"></a></li>
                <li><a th:href="@{/User/UpdatePassword}" th:text="#{Changepassword}"></a></li>
            </ol>
        </div>
    </div>
    <hr style="margin-top: 0 !important; margin-bottom: 0 !important;"/>
    <form id="update_pass_form" action="/" th:object="${userNeedChange}" method="POST">
        <h2 th:text="#{Update} +' '+ #{Password}">  Update password </h2>
        <br/>
        <div class="alert alert-info">
            <p th:text="#{UpdatePasswordTitle}">
                Fill out the form below to update your account's password.
                Please remember your password, write it to your note in need.
            </p>
        </div>
        <label for="username" th:text="#{Username}"> User name</label>
        <input class="form-control" type="text" name="username" id="username" th:value="${username}" readonly="readonly" />
        <br/>
        <div th:if="${param.error}">
            <h3 class="label label-danger" th:text="#{PasswordError}">Your old password was wrong. Please check again!</h3>
        </div>

        <label for="oldPassword" th:text="#{OldPassword}"> Old password <span style="color: red">*</span></label>
        <input class="form-control" type="password" name="oldPassword" id="oldPassword" required="required" th:placeholder="#{PlaceEnterOldPass}" />
        <br/>

        <label for="newPassword" th:text="#{Newpassword}"> New password <span style="color: red">*</span> </label>
        <input class="form-control" type="password" name="newPassword" id="newPassword" required="required" th:placeholder="#{PlaceEnterNewPass}"/>
        <br/>
        <label for="new_password_confirm" th:text="#{Confirm}+' '+ #{Newpassword}">Confirm New Password <span style="color: red">*</span> </label>
        <input class="form-control" type="password" name="new_password_confirm" id="new_password_confirm"  required="true" th:placeholder="#{PlaceEnterNewPassAgain}"/>
        <br/>
        <input id="submitButton" class="col-sm-4 col-sm-offset-4 button btn-success btn-sm"  type="button" value="Submit" th:value="#{Submit}"/>
    </form>

</div>
<div layout:fragment="scripts" >
    <script src="/js/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $('#submitButton').click(function () {
            $.post('/User/UpdatePassword',$('#update_pass_form').serialize() ,function (result) {
                framework.common.cmdResultNoti(result);
                // k can dong nay this.sendMessage(result);
            });
        });
    });
</script>
</div>
</body>
</html>
