<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="/Shared/User/layout">

<head>
    <meta charset="UTF-8"/>
    <title>Information</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div  layout:fragment="content" style="margin: 0 auto; width: 600px;">
        <form id="form" th:action="@{/User/SaveInfoUser}" th:object="${User}" method="post">
            <h1><b>User Information</b></h1>
                <div class="alert alert-info">
                    <p>
                        Fill out the form below to update your information<br/>
                        Please enter realistic info. We can contact to you easily.
                    </p>
                </div>
                <div th:if="${param.success}">
                    <h3>
                        <span class="label label-success"> Your information has been updated ! </span>
                    </h3>
                </div>
                <div th:if="${param.error}">
                    <h3>
                        <span class="label label-danger"> Your information is invalid. Try again!</span>
                    </h3>
                </div>
                <br/>
                <div class="form-group">
                    <label for="username">Username</label>
                    <div class="col-10">
                        <input class="form-control" id="username" th:type="text"  th:field="*{username}" readonly="readonly"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <div class="col-10">
                        <input class="form-control" id="name" th:type="text" th:field="*{name}" placeholder="Your name goes here..."/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone">Phone number</label>
                    <div class="col-10">
                        <input class="form-control" id="phone" th:type="text" onkeypress="validate(event)" th:field="*{phone}" placeholder="+84902444505"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <div class="col-10">
                        <input class="form-control" id="address" th:type="text" th:field="*{address}" placeholder="Your address goes here..."/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="idcard">ID Card</label>
                    <div class="col-10">
                        <input class="form-control" id="idcard" th:type="text" maxlength="9" minlength="9" onkeypress="validate(event)" th:field="*{idcard}" placeholder="Input exact 9 digits in your ID card..." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="col-10">
                        <input class="form-control" id="email" th:type="email" th:field="*{email}" required="required" placeholder="Your email goes here..."/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthday">BirthDay</label>
                    <div class="col-10" >
                            <input class="form-control" id="birthday" th:type="date" th:field="*{birthday}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div align="center">
                        <button type="submit" class="button btn-success btn-sm">Save</button>
                        <button type="reset" class="button btn-default btn-sm">Reset</button>
                    </div>
                </div>
        </form>
</div>
<script src="/js/jquery.validate.min.js"></script>
<script>
    $('#form').validate();
    function validate(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode( key );
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>
</body>
</html>

