<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/Shared/User/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Update Password</title>
    <!-- Bootstrap -->
    <link href="/index/detail.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>


</head>
<body>
<div  layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <ol class="arrows">
                <li><a href="/" th:text="#{Homepage}"></a></li>
                <li><a th:href="@{/User/UpdatePassword}" th:text="#{Changepassword}"></a></li>
            </ol>
        </div>
    </div>
    <hr style="margin-top: 0 !important; margin-bottom: 0 !important;"/>
    <form id="update_pass_form" action="/User/UpdatePassword" th:action="@{/User/UpdatePassword}" th:object="${userNeedChange}" method="POST">
        <h2>  Update password </h2>
        <br/>
        <div class="alert alert-info">
            <p>
                Fill out the form below to update your account's password.
                Please remember your password, write it to your note in need.
            </p>
        </div>
        <div th:if="${param.success}">
            <h3>
                <span class="label label-success"> Your request is submitted ! </span>
            </h3>
        </div>
        <div th:if="${param.error}">
            <h3>
                <span class="label label-danger"> Your request is invalid</span>
            </h3>
        </div>
        <label for="username" > User name</label>
        <input class="form-control" type="text" name="username" id="username" th:value="${username}" readonly="readonly" />
        <br/>
        <div th:if="${param.error}">
            <h3 class="label label-danger">Your old password was wrong. Please check again!</h3>
        </div>

        <label for="oldPassword" > Old password <span style="color: red">*</span></label>
        <input class="form-control" type="password" name="oldPassword" id="oldPassword" required="required" placeholder="Enter your old password here"/>
        <br/>

        <label for="newPassword" > New password <span style="color: red">*</span> </label>
        <input class="form-control" type="password" name="newPassword" id="newPassword" required="required" placeholder="Enter your NEW password here"/>
        <br/>
        <label for="new_password_confirm">Confirm New Password <span style="color: red">*</span> </label>
        <input class="form-control" type="password" name="new_password_confirm" id="new_password_confirm"  required="true" placeholder="Enter your NEW password again"/>
        <br/>
        <input class="col-sm-4 col-sm-offset-4 button btn-success btn-sm"  type="submit" value="Submit"/>
    </form>

</div>

</body>
</html>
