<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/Shared/User/layout">
<head>
    <meta charset="UTF-8"/>
    <title>View Log</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet'
          type='text/css'/>
    <link href="/index/detail.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/index/user.css"/>
    <script src="/js/layout/jquery-1.11.2.min.js"></script>


</head>
<body>
<div layout:fragment="content" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-12">
            <ol class="arrows">
                <li><a href="/" th:text="#{Homepage}"></a></li>
                    <li><a th:href="@{/User/ViewLog}" th:text="#{ViewLog}">View Log</a></li>
            </ol>
        </div>
    </div>
    <hr style="margin-top: 0 !important; margin-bottom: 0 !important;"/>
    <br/>
    <div class="tabs">
        <ul class="tab-links">
                <li class="active"><a href="#tab1" th:text="#{BorrowedBook}">Borrowed Book</a></li>
                <li><a href="#tab2" th:text="#{ReservatedBook}">Reservated Book</a></li>
                <li><a href="#tab3" th:text="#{RequestedBook}">Requested Book</a></li>
        </ul>

        <div class="tab-content">
            <div id="tab1" class="tab active">
                    <h3 th:text="#{BorrowedLog}">Borrowed Log</h3>
                    <p th:if="${#lists.isEmpty(bookBorrowList)}"><span th:text="#{Youhavenot}">You have not </span> <span th:text="#{Borrowed}"> borrowed </span> <span th:text="#{anybookyet}"> any book yet? </span> <a style="font-weight: bold" href="/" th:text="#{Gotolibrary}">Go to library</a></p>
                        style="font-weight: bold" href="/">Go to library</a></p>
                <table class="table table-bordered" th:if="${not #lists.isEmpty(bookBorrowList)}">
                    <thead>
                    <tr>
                            <th th:text="#{BorrowID}">Borrow ID</th>
                            <th th:text="#{Book}">Book</th>
                            <th th:text="#{BorrowedDate}">Borrowed date</th>
                            <th th:text="#{ReturnDate}">Return date</th>
                            <th th:text="#{Status}">Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${bookBorrowList}">
                        <th scope="row" th:text="${item.header.id}"></th>
                        <td>
                            <ul th:each="detail : ${item.details}"
                                style="margin: 0; text-align: left !important; list-style: none;">
                                <li class="borrowedBook"><a th:href="@{/Book/ViewDetail/}+${detail.book.id}"
                                                            th:text="${detail.book.name}"></a></li>
                            </ul>
                        </td>
                        <td th:text="${item.header.created_date}"></td>
                        <td th:text="${item.header.returnDate}"></td>
                        <td>
                            <h4 th:switch="${item.header.status}">
                                    <span th:case="${T(hcmue.gst.off.entities.CommonStatus).PENDING}"
                                          class="label label-primary">Pending</span>
                                <span th:case="${T(hcmue.gst.off.entities.CommonStatus).INPROGRESS}"
                                      class="label label-warning">In Progress</span>
                                <span th:case="${T(hcmue.gst.off.entities.CommonStatus).SOLVED}"
                                      class="label label-success">Solved</span>
                                <span th:case="${T(hcmue.gst.off.entities.CommonStatus).CANCELLED}"
                                      class="label label-danger">Cancelled</span>
                            </h4>
                        </td>
                        <td>
                            <a type="button" class="btn btn-danger"
                               th:if="${item.header.status} eq ${T(hcmue.gst.off.entities.CommonStatus).PENDING}"
                               th:href="@{/User/ViewLog/BookBorrow/cancel/}+${item.header.id}">
                                Cancel
                            </a>
                            <p style="vertical-align: middle; margin: 0"
                               th:if="${item.header.status} != ${T(hcmue.gst.off.entities.CommonStatus).PENDING}">Cancel
                                not available</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="tab2" class="tab">
                    <h3 th:text="#{ReservedLog}">Reserved Log</h3>
                    <p th:if="${#lists.isEmpty(bookReservationList)}" ><span th:text="#{Youhavenot}">You have not </span> <span th:text="#{Reserved}"> reserved </span> <span th:text="#{anybookyet}"> any book yet? </span> <a style="font-weight: bold" href="/" th:text="#{Gotolibrary}">Go to library</a></p>
                        style="font-weight: bold" href="/">Go to library</a></p>
                <table class="table table-bordered" th:if="${not #lists.isEmpty(bookReservationList)}">
                    <thead>
                    <tr>
                            <th th:text="#{ReservationID}">Reservation ID</th>
                            <th th:text="#{Book}">Book</th>
                            <th th:text="#{ReserveDate}">Reserve Date</th>
                            <th th:text="#{PickUpDate}">Pick Up Date</th>
                            <th th:text="#{Status}">Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item2 : ${bookReservationList}">
                        <th scope="row" th:text="${item2.id}"></th>
                        <td style="text-align: left"><a th:href="@{/Book/ViewDetail/}+${item2.book.id}"
                                                        th:text="${item2.book.name}"></a></td>
                        <td th:text="${item2.created_date}"></td>
                        <td th:text="${item2.pickUpDate}"></td>
                        <td>
                            <h4 th:switch="${item2.status}">
                                    <span th:case="${T(hcmue.gst.off.entities.CommonStatus).PENDING}"
                                          class="label label-primary">Pending</span>
                                <span th:case="${T(hcmue.gst.off.entities.CommonStatus).INPROGRESS}"
                                      class="label label-warning">In Progress</span>
                                <span th:case="${T(hcmue.gst.off.entities.CommonStatus).SOLVED}"
                                      class="label label-success">Solved</span>
                                <span th:case="${T(hcmue.gst.off.entities.CommonStatus).CANCELLED}"
                                      class="label label-danger">Cancelled</span>
                            </h4>
                        </td>
                        <td>
                            <a type="button" class="btn btn-danger"
                               th:if="${item2.status} eq ${T(hcmue.gst.off.entities.CommonStatus).PENDING}"
                               th:href="@{/User/ViewLog/BookReservation/cancel/}+${item2.id}">
                                Cancel
                            </a>
                            <p style="vertical-align: middle; margin: 0"
                               th:if="${item2.status} != ${T(hcmue.gst.off.entities.CommonStatus).PENDING}">Cancel
                                not available</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="tab3" class="tab">
                    <h3 th:text="#{RequestedLog}">Requested Log</h3>
                    <p th:if="${#lists.isEmpty(bookRequestList)}" ><span th:text="#{Youhavenot}">You have not </span> <span th:text="#{Requested}"> requested </span> <span th:text="#{anybookyet}"> any book yet? </span> <a style="font-weight: bold" href="/" th:text="#{Gotolibrary}">Go to library</a></p>
                        style="font-weight: bold" href="/">Go to library</a></p>
                <table class="table table-bordered" th:if="${not #lists.isEmpty(bookRequestList)}">
                    <thead>
                    <tr>
                            <th th:text="#{RequestedID}">Requested ID</th>
                            <th th:text="#{BookName}">Book name</th>
                            <th th:text="#{Author}">Author</th>
                            <th th:text="#{Publisher}">Publisher</th>
                            <th th:text="#{PublishedYear}">Published year</th>
                            <th th:text="#{note}">Note</th>
                            <th th:text="#{RequestedDate}">Requested Date</th>
                            <th th:text="#{Status}">Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${bookRequestList}">
                        <th scope="row" th:text="${item.id}"></th>
                        <td style="text-align: left" th:text="${item.book_name}"></td>
                        <td style="text-align: left" th:text="${item.author}"></td>
                        <td style="text-align: left" th:text="${item.publisher}"></td>
                        <td style="text-align: left" th:text="${item.published_year}"></td>
                        <td style="text-align: left" th:text="${item.note}"></td>
                        <td th:text="${item.created_date}"></td>
                        <td>
                            <h4 th:switch="${item.status}">
                                    <span th:case="${T(hcmue.gst.off.entities.CommonStatus).PENDING}"
                                          class="label label-primary">Pending</span>
                                <span th:case="${T(hcmue.gst.off.entities.CommonStatus).INPROGRESS}"
                                      class="label label-warning">In Progress</span>
                                <span th:case="${T(hcmue.gst.off.entities.CommonStatus).SOLVED}"
                                      class="label label-success">Solved</span>
                                <span th:case="${T(hcmue.gst.off.entities.CommonStatus).CANCELLED}"
                                      class="label label-danger">Cancelled</span>
                            </h4>
                        </td>
                        <td>
                            <a type="button" class="btn btn-danger"
                               th:if="${item.status} eq ${T(hcmue.gst.off.entities.CommonStatus).PENDING}"
                               th:href="@{/User/ViewLog/BookRequest/cancel/}+${item.id}">
                                Cancel
                            </a>
                            <p style="vertical-align: middle; margin: 0"
                               th:if="${item.status} != ${T(hcmue.gst.off.entities.CommonStatus).PENDING}">Cancel
                                not available</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            jQuery('.tabs .tab-links a').on('click', function (e) {
                var currentAttrValue = jQuery(this).attr('href');

                // Show/Hide Tabs
                jQuery('.tabs ' + currentAttrValue).show().siblings().hide();

                // Change/remove current tab to active
                jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

                e.preventDefault();
            });
        });
    </script>
</div>
</body>
</html>