<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update Password</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>


</head>
<body>
    <th:block fragment="content" >
        <form class="col-sm-4" id="update_pass_form" action="/UpdatePassword" th:action="@{/UpdatePassword}" th:object="${userNeedChange}" method="POST">
            <h3>  Update password </h3>
            <br/><br/>
            <label for="username" > User name</label>
            <input class="form-control" type="text" name="username" id="username" th:field="*{username}" readonly="true" />
            <br/><br/>
            <div th:if="${param.error}">
                <h3 class="label label-danger">Your old password was wrong. Please check again!</h3>
            </div>

            <label for="oldpassword" > Old password <span style="color: red">*</span></label>
            <input class="form-control" type="password" name="oldpassword" id="oldpassword" required="true"/>
            <br/><br/>

            <label for="new_password" > New password <span style="color: red">*</span> </label>
            <input class="form-control" type="password" name="new_password" id="new_password" required="true"/>
            <br/><br/>

            <label for="new_password_confirm">Confirm New Password <span style="color: red">*</span> </label>
            <input class="form-control" type="password" name="new_password_confirm" id="new_password_confirm"  required="true"/>
            <br/><br/>
            <input class="col-sm-4 col-sm-offset-4 button btn-success btn-sm"  type="submit" value="Yes"/>
        </form>
    </th:block>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/jquery.updatePassword.js"></script>
    <script src="js/jquery.validate.min.js"></script>
</body>
</html>
