<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/Shared/User/layout2">
<head>
    <meta charset="UTF-8"/>
    <title>How to request</title>
    <!-- Bootstrap -->
    <link href="/index/detail.css" rel="stylesheet"/>

    <style>
        label {
            color: #0055aa;
        }
    </style>
</head>
<body>
<div  layout:fragment="content">

    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/" th:text="#{Homepage}"></a>
            </li>
            <li>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
                <i class="fa fa-pencil"></i>
                <a th:href="@{/Request/HowToRequest}" th:text="#{HowtoRequest}"></a>
            </li>
        </ul>
    </div>
    <div style="overflow: hidden" align="center">
        <div style="width: 70%;;">
            <div class="box box-black">
                <div class="box-title">
                    <h3 ><i class="fa fa-bookmark-o"></i><span th:text="#{HowtoRequest}"></span></h3>
                </div>
                <div class="box-content">
                    <div class="howtorequest">
                        <h3><label for="step1" th:text="#{Step1}">Step 1</label></h3>
                        <p id="step1" th:text="#{RequestContent1}"> At first you click on the Request tab and choose Request purchase </p>
                        <img src="/images/requesttut1.png"/><br/><br/>

                        <h3><label for="step2" th:text="#{Step2}">Step 2</label></h3>
                        <p th:text="#{RequestStep2Content}">Provide as many as possible information</p>
                        <div id="step2">
                            <img src="/images/requesttut2.PNG"/>
                        </div>
                        <br/><br/>
                        <h3><label for="step3" th:text="#{Step3}"></label></h3>
                        <p th:text="#{RequestStep3Content}">Finally, waiting for confirmation from our librarian</p>
                        <div id="step3">
                            <img src="/images/requesttut3.PNG"/>
                        </div>
                        <h4 th:text="#{Justsomestep}"> Just some step you have sent a request to librarian to purchase a new book  </h4>
                    </div>
                    <br/>
                    <h3><b th:text="#{contribution}">Thank you for your contribution</b></h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
