<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/Shared/User/layout2">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{Request}">Call slip</title>
    <!-- Bootstrap -->
    <link href="/index/detail.css" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content">
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/" th:text="#{Homepage}"></a>
            </li>
            <li>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
                <i class="fa fa-comment"></i>
                <a th:href="@{/User/Request/RequestPurchase}" th:text="#{Requestapurchase}"></a>
            </li>

        </ul>
    </div>
    <div align="center" style="overflow: hidden;">
        <div class="col-md-4">
            <div class="box box-orange">
                <div class="box-title">
                    <h3><i class="fa fa-pencil-square-o"></i><span th:text="#{Providebookinformation}">Provide book information</span></h3>
                </div>
                <div class="box-content">
                    <div class="alert alert-info">
                        <p th:text="#{CallSlipTitle}">
                            Fill out the form below to request the purchase of an item.
                            The more details you can supply, the easier we can process your request.
                        </p>
                    </div>
                    <form id="request_purchase_form"
                          th:action="@{/User/RequestPurchase}" th:object="${request}" method="POST"
                          class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 col-md-5 control-label" for="title" th:text="#{Title}"> Title <span
                                    style="color: red">*</span></label>
                            <div class="col-sm-8 col-md-7 controls">
                                <input class="form-control" type="text" name="title" id="title"
                                       alt="This field is required"
                                       th:placeholder="#{Booktitle} " th:field="*{book_name}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-5 control-label" for="author" th:text="#{Author}"> Author
                                <span style="color: red">*</span></label>
                            <div class="col-sm-8 col-md-7 controls">
                                <input class="form-control" type="text" name="author" id="author"
                                       th:placeholder="#{Authorname}" th:field="*{author}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-5 control-label" for="publisher" th:text="#{Publisher}">
                                Publisher </label>
                            <div class="col-sm-8 col-md-7 controls">
                                <input class="form-control" type="text" name="publisher" id="publisher"
                                       th:placeholder="#{Publishername}" placeholder="Publisher name"
                                       th:field="*{publisher}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-5 control-label" for="publication_year"
                                   th:text="#{PublishedYear}"> Publication year </label>
                            <div class="col-sm-8 col-md-7 controls">
                                <input class="form-control" type="number" name="publication_year" id="publication_year"
                                       th:placeholder="#{PublishedYear}" th:field="*{published_year}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-5 control-label" for="additionalInformation"
                                   th:text="#{AdditionalInformation}"> Additional
                                information </label>
                            <div class="col-sm-8 col-md-7 controls">
                        <textarea class="form-control" rows="4" type="text" name="additionalInformation"
                                  id="additionalInformation" th:placeholder="#{note}"
                                  th:field="*{note}" style="resize: none;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="submitButton" class="btn btn-success"
                                   type="button" th:value="#{Submit}"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="myDiv">
            <div class="box box-magenta" id="myBox">
                <div class="box-title">
                    <h3 th:text="#{RequestedBook2}">Requested book</h3>
                </div>
                <div class="box-content" style="padding-bottom: 31px;">
                    <p th:if="${#lists.isEmpty(bookRequestList)}"><span th:text="#{Youhavenot}">You have not </span>
                        <span
                                th:text="#{Requested}"> requested </span> <span
                                th:text="#{anybookyet}"> any book yet? </span>
                        <a style="font-weight: bold" href="/" th:text="#{Gotolibrary}">Go to library</a></p>
                    <table class="table fill-head" th:if="${not #lists.isEmpty(bookRequestList)}">
                        <thead>
                        <tr>
                            <th th:text="#{RequestedID}">ID</th>
                            <th th:text="#{BookName}">Book name</th>
                            <th th:text="#{Author}">Author</th>
                            <th width="28%" th:text="#{note}">Note</th>
                            <th th:text="#{RequestedDate}">Requested Date</th>
                            <th th:text="#{Status}">Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${bookRequestList}">
                            <th scope="row" th:text="${item.id}" style="vertical-align: middle; !important;"></th>
                            <td style="text-align: left; vertical-align: middle;" th:text="${item.book_name}"></td>
                            <td style="text-align: left; vertical-align: middle;" th:text="${item.author}"></td>
                            <td style="text-align: left; vertical-align: middle;word-wrap: break-word " th:text="${item.note}"></td>
                            <td style="vertical-align: middle;" th:text="${item.created_date}"></td>
                            <td>
                                <h4 th:switch="${item.status}">
                                    <span th:case="${T(hcmue.gst.off.entities.CommonStatus).PENDING}"
                                          class="badge badge-primary" th:text="#{Pending}">Pending</span>
                                    <span th:case="${T(hcmue.gst.off.entities.CommonStatus).INPROGRESS}"
                                          class="badge badge-warning"
                                          th:text="#{InProgress}">In Progress</span>
                                    <span th:case="${T(hcmue.gst.off.entities.CommonStatus).FINISHED}"
                                          class="badge badge-success" th:text="#{Finished}">Finished</span>
                                    <span th:case="${T(hcmue.gst.off.entities.CommonStatus).CANCELLED}"
                                          class="badge badge-important"
                                          th:text="#{Cancelled}">Cancelled</span>
                                </h4>
                            </td>
                            <td style="vertical-align: middle">
                                <input type="button" class="btn btn-danger btnBookRequestCancel"
                                       th:if="${item.status} eq ${T(hcmue.gst.off.entities.CommonStatus).PENDING}"
                                       th:id="${item.id}" th:value="#{Cancel}"/>

                                <p style="vertical-align: middle; margin: 0"
                                   th:if="${item.status} != ${T(hcmue.gst.off.entities.CommonStatus).PENDING}"
                                   th:text="#{CancelNotAvailable}">Cancel
                                    not available</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center; clear: both" th:fragment='paginationbar'>
                        <div th:if="${not #lists.isEmpty(page.items)}">
                            <ul class='pagination pagination-centered'>
                                <li th:class="${page.firstPage}?'disabled':''">
                                    <span th:if='${page.firstPage}'>← First</span>
                                    <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←
                                        First</a>
                                </li>
                                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                                    <span th:if='${not page.hasPreviousPage}'>«</span>
                                    <a th:if='${page.hasPreviousPage}'
                                       th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                                       title='Go to previous page'>«</a>
                                </li>
                                <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                                    <span th:if='${item.current}' th:text='${item.number}'>1</span>
                                    <a th:if='${not item.current}'
                                       th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                            th:text='${item.number}'>1</span></a>
                                </li>
                                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                                    <span th:if='${not page.hasNextPage}'>»</span>
                                    <a th:if='${page.hasNextPage}'
                                       th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                                       title='Go to next page'>»</a>
                                </li>
                                <li th:class="${page.lastPage}? 'disabled' : ''">
                                    <span th:if='${page.lastPage}'>Last →</span>
                                    <a th:if='${not page.lastPage}'
                                       th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last
                                        →</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="EnSureModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <img src="/layout/img/successicon.png" width="50px"/>
                        <span th:text="#{Requesthavebeensent}">Request have been sent</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="SuccessModal1" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <img src="/layout/img/successicon.png" width="50px"/>
                        <span th:text="#{Cancelledsuccessfully}">Cancelled successfully</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="FailureModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <img src="/layout/img/no-success-icon.png" width="50px"/>
                        <span th:text="#{Requestneedatleastbookname}">Request need at least book name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="scripts">
    <script src="/js/jquery.requestPurchase.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#submitButton').click(function () {
                $.post('/User/RequestPurchase', $('#request_purchase_form').serialize(), function (result) {
                    if (result.success) {
                        $('#EnSureModal').modal();
                        setTimeout(function () {
                            $('#EnSureModal').modal('hide');
                            location.reload();
                        }, 1000);
                    }
                    else {
                        debugger
                        $('#FailureModal').modal();
                        setTimeout(function () {
                            $('#FailureModal').modal('hide');
                        },1500);
                    }
                })
            });
            $('.btnBookRequestCancel').click(function () {
                var id = $(this).attr('id');
                console.log(id);
                $.post('/ViewLog/BookRequest/cancel', {id: id}, function (result) {
                    if (result.success) {
                        $('#SuccessModal1').modal();
                        setTimeout(function () {
                            $('#SuccessModal1').modal('hide');
                            location.reload();
                        }, 1500);
                    }

                })
            });
        });
    </script>
</div>
</body>
</html>
