<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/Shared/User/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Call slip</title>
    <!-- Bootstrap -->
    <link href="/index/detail.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>


</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <ol class="arrows">
                <li><a href="/" th:text="#{Homepage}"></a></li>
                <li><a th:href="@{/User/Request/RequestPurchase}" th:text="#{Requestapurchase}"></a></li>
            </ol>
        </div>
    </div>
    <hr style="margin-top: 0 !important; margin-bottom: 0 !important;"/>
    <form id="request_purchase_form" action="/RequestPurchase"
          th:action="@{/User/RequestPurchase}" th:object="${request}" method="POST">


        <div class="book">
            <h2 th:text="#{callSlip}">Call slip</h2>

            <div class="book-info">
                <div class="alert alert-info">
                    <p th:text="#{CallSlipTitle}">
                        Fill out the form below to request the purchase of an item.
                        The more details you can supply, the easier we can process your request.
                    </p>
                </div>
                <div th:if="${param.success}">
                    <h3>
                        <span class="label label-success" th:text="#{RequestSuccess}"> Your request is submitted ! </span>
                    </h3>
                </div>
                <div th:if="${param.error}">
                    <h3>
                        <span class="label label-danger" th:text="#{RequestValid}"> Your request is invalid</span>
                    </h3>
                </div>
                <h3><b th:text="#{BookDetail}">Book Details</b></h3>
                <p th:text="#{BookDetailContent}">Please provide as many details as possible.</p>
                <label for="title" th:text="#{Title}"> Title <span style="color: red">*</span></label>
                <input class="form-control" type="text" name="title" id="title" alt="This field is required"
                       required="true" th:placeholder="#{Booktitle} " th:field="*{book_name}"/>
                <br/>
                <label for="author" th:text="#{Author}"> Author <span style="color: red">*</span></label>
                <input class="form-control" type="text" name="author" id="author" required="true"
                       th:placeholder="#{Authorname}" th:field="*{author}"/>
                <br/>
                <label for="publisher" th:text="#{Publisher}"> Publisher </label>
                <input class="form-control" type="text" name="publisher" id="publisher" th:placeholder="#{Publishername}" placeholder="Publisher name"
                       th:field="*{publisher}"/>
                <br/>
                <label for="publication_year" th:text="#{PublishedYear}"> Publication year </label>
                <input class="form-control" type="number" name="publication_year" id="publication_year"
                      th:placeholder="#{publishedYear}" th:field="*{published_year}"/>
                <br/>
                <label for="additionalInformation" th:text="#{AdditionalInformation}"> Additional information </label>
                <textarea class="form-control" rows="4" type="text" name="additionalInformation"
                          id="additionalInformation"  th:placeholder="#{note}"
                          th:field="*{note}"></textarea>
                <br/>
                <input class="col-sm-2 col-sm-offset-3 button btn-success btn-sm" type="submit" th:value="#{Submit}"/>
                <input class="col-sm-2 col-sm-offset-2 button btn-info btn-sm" id="btnClear" type="reset"
                       th:value="#{Reset}"/>
            </div>
        </div>


    </form>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/jquery.requestPurchase.js"></script>
<script src="/js/jquery.validate.min.js"></script>
</body>
</html>
