<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="/Shared/User/layout">
<head>
    <title>Book Detail</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body layout:fragment="content" >
    <h1 style="text-align: center; padding: 10px">View book detail </h1>
    <form th:object="${Book}" >
    <div class="row" style="margin: 10px">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <img src="/images/Book_Net.jpg" th:width="300px" th:height="400px" style="float: right"/>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6" style="font-size: large">
            <p th:text=" *{name}" style="font-size: 50px" > </p>
            <p th:text="'Author: '+ *{author}" > </p>
            <p th:text="'Pushlish Year: '+ *{publish_year}" > </p>
            <p th:text="'Book Status: '+ *{bookStatus.getDescription()}" > </p>
            <button type="submit" class="btn btn-primary">Reserve</button>
        </div>
    </div>
    </form>
</body>
</html>