<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Quản lý bán hàng</title>
</head>
<body>
<div th:remove="tag" layout:fragment="contentBody"></div>


<div th:remove="tag" th:utext="${ViewBag}"></div>
<script th:inline="javascript">
    require(['jquery', 'jqueryUIDiaglogExtend', 'blockUISetting','flatyScript', 'jqueryCookie', 'jquerySlimscroll', 'bootstrap', 'noty', 'notySetting','pluploadui'], function () {
        require(['framework'], function () {
            /*<![CDATA[*/
            /*[+
             require(['/pagemodule/' + [[${PageModule}]] + '.js'], function(){});
             +]*/
            /*]]>*/
        });
    });
</script>

<script layout:fragment="scripts" ></script>
<div th:remove="tag" layout:fragment="styles"></div>

</body>
</html>
