<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>


    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <style>
        hr {
            border: 0;
            clear:both;
            display:block;
            width: 96%;
            background-color:#000000;
            height: 1px;
        }
    </style>

</head>

<body>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'/>


<form action="/login" th:action="@{/login}" method="POST">

    <h4 th:text="#{LoginInformation}"> Login Information </h4>
    <div th:if="${param.logout}">
        <h3 class="label label-success" th:text="${logout}"></h3>
        <br/>
    </div>
    <div th:if="${param.error}">
        <h3 class="label label-danger" th:text="${error}"></h3>
        <br/>
    </div>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="form-group" th:classappend="${param.error} ? 'has-error' : ''">
        <input class="form-control" type="text" th:placeholder="#{Enter}+' ' + #{Username}" th:name="#{Username}" th:id="username"/>
    </div>

    <div class="form-group" th:classappend="${param.error} ? 'has-error' : ''">
        <input class="form-control" type="password" th:placeholder="#{Enter}+ ' ' + #{Password}" th:name="#{Password}" th:id="password"/>
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary" type="submit" th:text="#{login}">Login </button>

    </div>
    <hr/>
    <div class="form-group">
        <button class="btn btn-lg btn-danger" type="button" onclick="window.location.href='/'" th:text="#{GotoHome}">Go to Library Homepage </button>
    </div>

</form>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
