<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="/Shared/User/layout2">
<head>
    <title th:text="${Book.name}">Book Detail</title>
    <link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet'
          type='text/css'/>
    <link href="/index/detail.css" rel="stylesheet"/>


</head>
<body>
<div layout:fragment="content">
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/" th:text="#{Homepage}"></a>
            </li>
            <li>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
                <i class="fa fa-reorder"></i>
                <a th:href="@{/book/bookCategory/}+${Book.bookCategory.id}"
                   th:text="${Book.bookCategory.category_name}"></a>
            </li>
            <li>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
                <i class="fa fa-book"></i>
                <a th:href="@{/Book/ViewDetail/}+${Book.id}" th:text="${Book.name}"></a>
            </li>

        </ul>
    </div>
    <div class="row" style="margin: 10px" th:object="${Book}">
        <div class="col-md-7">
            <div class="box box-black">
                <div class="box-title">
                    <h3><span th:text="*{name}"></span></h3>
                </div>
                <div class="box-content" style="overflow: hidden;">
                    <div class="col-xs-5">
                        <div align="center" style="margin: 5px 0 3px 0px">
                            <img th:src="${Book.imageUrl}" th:width="250px"/>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="user-profile-info" style="margin-top: 20px;">
                            <p>
                                <span th:text="#{author}"></span>&nbsp;
                                <span th:text="*{author}"></span>
                            </p>
                            <p>
                                <span th:text="#{publisher}+':'"></span>&nbsp;
                                <span th:text="*{publisher}"></span>
                            </p>
                            <p>
                                <span th:text="#{publishedYear}"></span>&nbsp;
                                <span th:text="*{publish_year}"></span>
                            </p>
                            <p>
                                <span th:text="#{bookTransactionStatus}"></span>
                                <span class="badge bagde-lg"
                                      th:classappend="*{state} eq ${T(hcmue.gst.off.entities.BookTransactionStep).AVAILABLE} ? 'badge-success' : 'label-important'"
                                      th:text="*{state} eq ${T(hcmue.gst.off.entities.BookTransactionStep).AVAILABLE}? #{Available}:#{Occupied}"></span>
                            </p>

                        </div>

                        <div class="alert alert-danger" th:text="#{Younolonger}" th:if="${forbiddenUser}">

                        </div>
                        <form th:unless="${forbiddenUser}" action="/User/Book/ViewDetail/addToBookCart"
                              style="clear: both" method="POST">
                            <div>
                                <p th:text="*{state} eq ${T(hcmue.gst.off.entities.BookTransactionStep).AVAILABLE} ? #{likeThis} : #{someoneBorrowed}"></p>
                                <input type="hidden" name="ID" th:value="*{id}"/>
                                <button th:if="*{state} eq ${T(hcmue.gst.off.entities.BookTransactionStep).AVAILABLE}"
                                        th:disabled="${existed} ? 'disabled' : 'false'"
                                        class="btn btn-danger"><i
                                        class="fa fa-share" aria-hidden="true"></i>&nbsp;&nbsp;<span
                                        th:text="#{borrowNow}"></span></button>
                            </div>
                        </form>
                        <div th:unless="${forbiddenUser}"
                             th:if="*{state} eq ${T(hcmue.gst.off.entities.BookTransactionStep).BORROWED} and ${bookBorrowHeader.status} eq ${T(hcmue.gst.off.entities.CommonStatus).INPROGRESS}">
                            <a type="button" th:disabled="${existed} ? 'disabled' : 'false'" class="btn btn-primary"
                               data-toggle="modal" data-target="#myModal"><i
                                    class="fa fa-share" aria-hidden="true"></i>&nbsp;&nbsp;<span
                                    th:text="#{reserve}"></span>
                            </a>
                        </div>
                        <div class="alert alert-danger" th:unless="${forbiddenUser}"
                             th:if="*{state} eq ${T(hcmue.gst.off.entities.BookTransactionStep).RESERVATED}"
                             th:text="#{Thisbookhave}+' '+${returnDate}">
                        </div>

                        <div th:if="*{state} eq ${T(hcmue.gst.off.entities.BookTransactionStep).BORROWED}" id="myModal"
                             class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img th:src="${Book.imageUrl}" th:width="200px"/>
                                                </div>
                                                <div class="col-md-7">
                                                    <form action="/User/Book/ViewDetail/reserveBook" method="POST"
                                                          id="reserveForm">
                                                        <div class="box">
                                                            <div class="box-title">
                                                                <h3><span th:text="${Book.name}"></span></h3>
                                                            </div>
                                                            <div class="box-content">
                                                                <div class="user-profile-info">
                                                                    <span id="id" class="hidden"
                                                                          th:text="${Book.id}"></span>
                                                                    <span id="pickUpDate" class="hidden"
                                                                          th:text="${returnDate}"></span>

                                                                    <p><span th:text="#{Author}+':'"></span>&nbsp;<span
                                                                            th:text="${Book.author}"></span>
                                                                    </p>
                                                                    <p><span
                                                                            th:text="#{Publisher}+':'"></span>&nbsp;<span
                                                                            th:text="${Book.publisher}"></span>
                                                                    </p>
                                                                    <p><span th:text="#{PublishedYear}+':'"></span>&nbsp;<span
                                                                            th:text="${Book.publish_year}"></span>
                                                                    </p>
                                                                    <h5><span class="label label-warning" th:text="#{Thisbookwillbe}">This book will be returned to library on <span
                                                                            th:text="${returnDate}"></span></span>
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div align="center">
                                                    <a type="button" class="btn btn-danger"
                                                       id="confirmModal"> <span th:text="#{Confirm}"></span></a>
                                                    <a type="button" class="btn btn-gray" id="cancelModal" data-dismiss="modal"><span th:text="#{Cancel}"></span></a>

                                                    <br/>
                                                    <br/>
                                                    <span class="loader" hidden="hidden"><img src="/images/ajax-loader.gif"/>
                                                        <span th:text="#{PleaseWait}">Please wait... </span></span>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="box box-red">
                <div class="box-title">
                    <h3 th:text="#{Rule}"></h3>
                </div>
                <div class="box-content">
                    <ul>
                        <li th:text="#{rule5}"></li>
                        <li th:text="#{rule1}"></li>
                        <li th:text="#{rule2}"></li>
                        <li th:text="#{rule3}"></li>
                        <li th:text="#{rule4}"></li>
                        <li><span th:text="#{viewMore}"></span>&nbsp;<a th:text="#{ruleList}"></a></li>
                    </ul>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-title">
                    <h3 th:text="#{MoreInformation}"> More Information</h3>
                </div>
                <div class="box-content">
                    <div>
                        <p>&diams;
                            <span th:text="#{Seemore}"> See more </span>
                            <a th:href="@{|/book/searchQuery?searchType=3&amp;searchResult=${Book.author}|}"
                               th:text=" ' '+#{books}+' '+ #{of} +' ' + *{author}"></a>
                        <span th:text="#{atOffLibrary}"> at OFF Library</span>
                        </p>
                        <p>&diams;
                            <span th:text="#{Tutorial}"> Tutorial</span> <a href="/Borrow/HowToBorrow"
                                                                            th:text="#{Borrow}">borrow</a> <span
                                    th:text="#{and}">and</span> <a href="/Reservation/HowToReserve"
                                                                   th:text="#{Reserve}">reserve</a> <span
                                    th:text="#{books}"> books </span>
                        </p>
                        <p>&diams;
                            <span th:text="#{CannotFindbook}"> Can not find books? Send us a request</span>
                            <a href="/User/Request/RequestPurchase" th:text="#{Athere}">at here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal fade" id="SuccessModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <img src="/layout/img/successicon.png" width="50px"/>
                        <span th:text="#{Yourreservationhavebeen}">Your reservation have been sent successfully</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="scripts">
    <script src="/js/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#confirmModal').click(function () {
                debugger
                $('.loader').show();
                $('#confirmModal').hide();
                $('#cancelModal').hide();
                $('#confirmModal').addClass('disable');
                $.post('/User/Book/ViewDetail/reserveBook', {
                    bookId: $("#id").text(),
                    pickUpDate: $("#pickUpDate").text()
                }, function (result) {
                    if (result.success) {
                        debugger
                        $('.loader').hide();
                        $('#SuccessModal').modal();
                        setTimeout(function () {
                            window.history.back();
                        }, 2000);
                    }
                    else {
                        $('.loader').hide();
                        $('#FailureModal').modal();
                        setTimeout(function () {
                            window.location.replace("/User/UpdateInfoUser");
                        }, 1000);
                    }
                });
            });
        });
    </script>
</div>
</body>
</html>