<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="/Shared/User/layout">
<head>
    <title th:text="${Book.name}">Book Detail</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet'
          type='text/css'/>
    <link href="/index/detail.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <ol class="arrows">
                <li><a href="/" th:text="#{Homepage}"></a></li>
                <li><a th:href="@{/book/bookCategory/}+${Book.bookCategory.id}"
                       th:text="${Book.bookCategory.category_name}"></a></li>
                <li><a th:href="@{/Book/ViewDetail/}+${Book.id}" th:text="${Book.name}"></a></li>
            </ol>
        </div>
    </div>
    <hr style="margin-top: 0 !important; margin-bottom: 0 !important;"/>
    <div class="row" style="margin: 10px" th:object="${Book}">
        <div class="col-xs-5">
            <div align="center" style="margin-top: 30px;">
                <img th:src="${Book.imageUrl}" th:width="300px" th:height="400px"/>
            </div>
        </div>
        <div class="col-xs-7">
            <h3 class="book-name" th:text="*{name}"></h3>
            <div class="book-box">
                <div class="book-row">
                    <div class="book-info">
                        <div>
                            <h5 class="book-author" th:text="#{author}"></h5>
                            <p class="book-author"><a class="author" th:text="*{author}" href="#"></a></p>
                        </div>
                        <div>
                            <span class="book-detail"><h5 th:text="#{publisher}"></h5></span>
                            <span class="book-detail" th:text="*{publisher}"></span>
                        </div>

                        <div>
                            <span class="book-detail"><h5 th:text="#{publishedYear}"></h5></span>
                            <span class="book-detail" th:text="*{publish_year}"></span>
                        </div>

                        <div>
                            <span class="book-detail"><h5 th:text="#{bookTransactionStatus}"></h5></span>
                            <span class="book-detail"><h4><span class="label"
                                                                th:classappend="*{state} == 1 ? 'label-success' : 'label-danger'"
                                                                th:text="*{state} == 1? #{Available}:#{Occupied}"></span></h4></span>
                        </div>
                        <div class="divider-vertical"></div>
                    </div>
                    <div class="divider-vertical"></div>
                    <div class="item-other">
                        <p>&diams;
                            <span th:text="#{Seemore}"> See more </span><a href="#"
                                                                           th:text=" ' '+#{books}+' '+ #{of} +' ' + *{author}"></a>
                            <span th:text="#{atOffLibrary}"> at OFF Library</span>
                        </p>
                        <p>&diams;
                            <span th:text="#{Tutorial}"> Tutorial</span> <a href="/Borrow/HowToBorrow"
                                                                            th:text="#{Borrow}">borrow</a> <span
                                    th:text="#{and}">and</span> <a href="#" th:text="#{Reserve}">reserve</a> <span
                                    th:text="#{books}"> books </span>
                        </p>

                        <p>&diams;
                            <span th:text="#{CannotFindbook}"> Can not find books? Send us a request</span>
                            <a href="/User/Request/RequestPurchase" th:text="#{Athere}">at here</a>
                        </p>
                    </div>
                </div>
                <br/>

                <div th:if="${forbiddenUser}">
                    <p>
                    <h4><span class="label label-danger" th:text="#{Younolonger}">You no longer borrow or reserve book. Please return book back to library before borrow a new one.</span>
                    </h4>
                    </p>
                </div>
                <form th:unless="${forbiddenUser}" action="/User/Book/ViewDetail/addToBookCart"
                      style="clear: both" method="POST">
                    <div>
                        <p th:text="*{state} == 1 ? #{likeThis} : #{someoneBorrowed}"></p>
                        <input type="hidden" name="ID" th:value="*{id}"/>
                        <button th:if="*{state}==1" th:disabled="${existed} ? 'disabled' : 'false'"
                                class="btn btn-danger"><i
                                class="fa fa-share" aria-hidden="true"></i>&nbsp;&nbsp;<span
                                th:text="#{borrowNow}"></span></button>
                    </div>
                </form>
                <div th:unless="${forbiddenUser}" th:if="*{state}==0">
                    <button type="button" th:disabled="${existed} ? 'disabled' : 'false'" class="btn btn-primary"
                            data-toggle="modal" data-target="#myModal"><i
                            class="fa fa-share" aria-hidden="true"></i>&nbsp;&nbsp;<span th:text="#{reserve}"></span>
                    </button>
                </div>
                <div th:unless="${forbiddenUser}" th:if="*{state}==2">
                    <p>
                    <h4><span class="label label-danger" th:text="#{Thisbookhave}">This book have been borrowed and reserved.
                    You will be able to reserve this book on <span th:text="${returnDate}"></span></span>
                    </h4>
                    </p>
                </div>
                <div th:if="${returnDate}" class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/User/Book/ViewDetail/reserveBook" id="reserveForm" method="post" th:object="${reservationBook}">
                                <div class="modal-header" style="background: #d62643; color: #fff; font-weight: bold;">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" th:text="#{reserve}">Reserve <span th:text="${Book.name}"></span></h4>
                                </div>
                                <div class="modal-body">
                                    <div style="float: left; width: 40%;">
                                        <div align="center" style="margin-top:20px;">
                                            <img th:src="${Book.imageUrl}" th:width="200px"
                                                 th:height="300px"/>
                                        </div>
                                    </div>
                                    <div style="float: right; width: 55%;">
                                        <div>
                                            <input type="hidden" id="bookId" name="bookId" th:value="${Book.id}"/>
                                            <input type="hidden" id="pickUpDate" name="pickUpDate" th:value="${returnDate}"/>
                                            <label for="name" th:text="#{BookName}">Book name</label>
                                            <input class="form-control" id="name" type="text" th:value="${Book.name}"
                                                   readonly="readonly"/>
                                            <br/>
                                            <label for="author" th:text="#{Author}">Author</label>
                                            <input class="form-control" id="author" type="text" th:value="${Book.author}"
                                                   readonly="readonly"/><br/>

                                            <label for="publisher" th:text="#{Publisher}">Publisher</label>
                                            <input class="form-control" id="publisher" type="text"
                                                   th:value="${Book.publisher}"
                                                   readonly="readonly"/>
                                        </div>
                                    </div>

                                    <div style="clear: both; padding-top: 10px" align="center">
                                        <div style="margin-top: 20px;">
                                            <h3>
                                            <span class="label label-danger" th:text="#{Thisbookwillbe}">This book will be returned to library on <span
                                                    th:text="${returnDate}"></span></span>
                                            </h3>
                                            <p th:text="#{Doyouwant}">Do you want to reserve it?</p>
                                            <button type="submit" form="reserveForm" class="btn btn-danger" th:text="#{Yes}">Yes
                                            </button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{No}">No
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="book-rule">
                    <div class="book-rule-title">
                        <h3 style="opacity: 0.5;" th:text="#{Rule}"></h3>
                        <div class="hr"></div>
                    </div>
                    <div class="book-rule-list">
                        <ul>
                            <li th:text="#{rule5}"></li>
                            <li th:text="#{rule1}"></li>
                            <li th:text="#{rule2}"></li>
                            <li th:text="#{rule3}"></li>
                            <li th:text="#{rule4}"></li>
                            <li><span th:text="#{viewMore}"></span>&nbsp;<a th:text="#{ruleList}"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="book-service">
                    <div class="book-service-title">
                        <h3 style="opacity: 0.5;" th:text="#{Service}"></h3>
                        <div class="hr"></div>
                    </div>
                    <div class="book-service-list">
                        <ul>
                            <li><a th:text="#{delivery}" href="#"></a></li>
                            <li><a th:text="#{attachEquipment}" href="#"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>